.header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    /* margin-bottom: 1rem; */
    color: var(--secondary-color);
    background-color: var(--background-color);
}

.title {
    position: relative;
    margin: 0.5rem;
    font-size: 3rem;
    white-space: pre-line;
    text-align: justify;
    line-height: 1;
}

.mainContainer {
    display: flex;
    /* overflow: hidden; */
    flex-direction: column;
    height: 100%;
    color: var(--primary-color);
    background-color: var(--background-color);
    align-items: center;
}

.content { 
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: var(--darkGreen);
    width: 100%;
    padding-left: 2rem; 
    padding-right: 2rem;
    font-size: 1.2rem;
}

.content > p > a {
    color: var(--primary-color);
}

.content > p > a:hover{
    color: var(--secondary-color);
}

.stack {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;
    left: 35%;
}

.stack > h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.stack > h2 {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.stack > h3 {
    font-size: 1.1rem;
    margin-left: 2rem; 
}

@media (max-width:786px){
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .stack {
        left: 0;
        width: 100%;
    }
}