.loader {
    border: 5px solid var(--primary-color);
    border-top: 5px solid var(--secondary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 1rem; */
    color: var(--secondary-color);
    background-color: var(--background-color);
}

.title {
    position: relative;
    margin: 0.5rem;
    font-size: 3rem;
    white-space: pre-line;
    text-align: justify;
    line-height: 1;
}

.mainContainer {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: var(--primary-color);
    background-color: var(--background-color);
}

.contentContainer {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    width: 100%;
}

.canvasGUI {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65vh;
    margin: 1rem;
    /* margin-bottom: 1rem; */
}

.canvasContainer {
    /* flex-grow: 1; */
    width: 82%;
    position: relative;
    /* margin: 1em; */
    /* margin-bottom: 2em; */
    margin-right: 1rem; 
    border-radius: 1em;
    background-color: var(--darkGreen);
    /* border: 1px solid var(--secondary-color); */
    height: 100%;
}

.mainCanvas {
    display: flex;
    position: relative;
    /* z-index: 1; */
    width: 100%;
    max-height: 100%;
    height: 100%;
}


.searchcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    background-color: var(--darkGreen);
    justify-content: space-between;
}

.description{
    display: flex;
    flex-wrap: wrap;
}

.currentProtein { 
    color: var(--primary-color);
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 400;
    align-items: center;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
}

.pdbSearch{
    display: flex;
    flex-grow: 1;
    width: max-content;
}

.searchbar{
    flex-grow: 1;
}

.proteinInfo {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    /* width: 65cqw; */
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    flex-grow: 1;
}

.divider {
    border-right: 1px solid var(--primary-color);
    padding-left: 1rem;
    margin-right: 1rem;
    height: 1rem;
}

.toggleGUI {
    display: none;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: var(--darkGreen);
    padding: 0.5rem; 
    z-index: 300;
}

@media (max-width: 768px){
    .toggleGUI {
        display: block;
        right: 1rem;
        top: 1rem;
        position: absolute;
    }
    .GUIContainer.closed{
        display: none;
    }
    .GUIContainer.open{
        display: flex;
        position: absolute;
        left:0;
        top:0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        border-radius: 0;
        overflow-y: hidden;
    }
    .canvasContainer{
        width:100%;
        margin-right: 2rem;
    }
    
    /* .searchcontainer{
        flex-direction: column;
        margin-right: 1rem;
    } */
    .currentProtein{
        width: 100%;
        padding-top: 0.5rem;
        text-align: center;
    }

    .searchbar{
    }
}

.GUIContainer {
    margin-right: 2rem;
    background-color: var(--darkGreen);
    /* border: 1px solid var(--primary-color); */
    border-radius: 1em;
    width: 18%;
    height: 100%;
    color: var(--primary-color);
    position: relative;
    /* right: 1em;
    top: 1em; */
    align-items: center;
}

.GUI {
    /* position: absolute;
    right: 1em;
    top: 1em; */
    /* height: 50%; */
    padding: 0.5rem;
    z-index: 100;
    color: var(--primary-color);
    /* height: 50vw; */
    /* position: absolute; */
    overflow-y: auto;
    height: 95%;
    max-height: 95%;
    /* margin-top: 10px; */
    width: 95%;
}

/* Hide the default scrollbar */
.GUI::-webkit-scrollbar {
    width: 3px;
    height: 80%;
}

/* Track */
.GUI::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    height: 80%;
}

/* Handle */
.GUI::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 1rem;
    /* Add border-radius for rounded corners */
    height: 5px;
    width: 6px;
}

/* Handle on hover */
.GUI::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

.exitGUI {
    /* padding-top: 1em; */
    padding: 1em;
    flex-grow: 1;
    direction: rtl;
}

.exitGUI>button {
    display: flex;
    flex-direction: row;
    position: relative;
    /* right: 1rem; */
    /* right: 1rem; */
    color:var(--darkGreen); 
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    padding-right: 1rem;
    padding: 0.5rem;
}

.categories {
    /* height: 50px; */
    padding-bottom: 1em;
}

.sectionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sectionHeader>button {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.slider {
    /* height: 100%; */
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 2em;
}

.sliderInput {
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.materialContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: var(--primary-color);
    color: var(--darkGreen);
}

.materialContainer>button {
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

.materialContainer button:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.Colors {
    padding-top: 1rem;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
}

.Colors ul {
    list-style-type: none;
}

.Colors>ul>li {
    display: flex;
    align-items: center;
    margin: 0.25rem;
}

.colorSwatch {
    display: inline-block;
    width: 20px;
    /* Adjust the size of the swatch as needed */
    height: 20px;
    /* Adjust the size of the swatch as needed */
    border-radius: 50%;
    /* Create circular swatches */
    margin-right: 10px;
    /* Add spacing between swatch and label */
}

.Colors button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

.Colors button:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

/* Styles for the range input */
.rangeInput {
    color: var(--primary-color);
    -webkit-appearance: none;
    /* Remove default styling */
    width: 75%;
    /* Set the width of the range input */
    height: 10px;
    /* Set the height of the range input */
    background: transparent;
    /* Set a transparent background */
    padding: 10%;
}

/* Styling the track */
.rangeInput::-webkit-slider-runnable-track {
    background: var(--primary-color);
    /* Set the background color of the track */
    height: 3px;
    /* Set the height of the track */
    border-radius: 1px;
    /* Set the border radius to create rounded ends */
}

/* Styling the thumb */
.rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Remove default styling */
    width: 10px;
    /* Set the width of the thumb */
    height: 10px;
    /* Set the height of the thumb */
    background: var(--primary-color);
    /* Set the background color of the thumb */
    border-radius: 50%;
    /* Create a circular shape for the thumb */
    cursor: pointer;
    /* Add a cursor on hover */
    margin-top: -4px;
    /* Adjust the vertical position of the thumb */
}

.rangeInput::-webkit-slider-thumb:hover{
    background: var(--secondary-color);
}

.content {
    position: relative;
    margin: 1rem;
    color: var(--darkGreen);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .mainContainer {
        justify-content: center;
        align-items: center;
    }

    .content {
        justify-content: center;
        width: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .content>blockquote {
        margin: 2rem;
        padding: 1rem 3rem 1rem 3rem;
    }
}

.content>p {
    position: relative;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.content>blockquote {
    margin: 1rem;
    padding: 1rem;
    border: 1px dotted var(--secondary-color);
    border-radius: 1em;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.content > h1 {
    margin-bottom: 1rem;
}

.content > h2 {
    margin-left: 1rem;
}

.content > h3 {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.content > p > a {
    color: var(--secondary-color);
}

.pagination {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 2rem;
    background-color: var(--background-color);
}

.pageButton {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    justify-content: flex-end;
    color: var(--secondary-color)
}

.nextPage {
    display: flex;
    text-align: right;
}

.pageButton:hover {
    color: var(--primary-color);
}

.footer {
    background-color: var(--background-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding: 10px;
}

.footer>p {
    padding-right: 5px;
}

.footer>a:hover {
    color: var(--primary-color);
}