.mainContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: auto;
}

.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(6cqw);
    z-index: 150;
    margin-bottom: 1rem;
  }

.contentContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 2rem;
    z-index: 10;
    align-items: center;
    overflow-y: auto;
    position: relative;
}

.profilepic {
    width: 100%;
    height: auto;
    max-width: 500px;
    text-align: center;
    padding: 30px; 
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: 1.2rem;
}

.section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sectionHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    /* left: 0; */
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.highlights {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.highlight{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 1rem;
}
.highlightCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    height: 100%;
    position: relative;
}

.highlightTitle {
    top: 1rem;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    width: 75%;
}

.highlight > img {
    bottom: 0;
}

.highlight:hover > .highlightCard > img {
    opacity: 50%;
}

.highlight:hover > .highlightTitle {
    color: var(--primary-color)
}



@media (max-width:786px){
    .highlights {
        flex-direction: column;
    }
    .highlightTitle{
        width: 90vw;
    }
    .highlightCard{
        width: 90vw;
    }
    .description { 
        width: 90%;
    }
}