.header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.title {
    position: relative;
    margin: 0.5rem; 
    font-size: 3rem;
    white-space: pre-line;
    text-align: justify;
    line-height: 1; 
}

.sectionHeader { 
    position: relative; 
    margin-left: 1rem;
    font-size: 1rem; 
    font-weight: 900;
}

.section { 
    position: relative;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

.carouselSlideContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.carouselSlideContainer.hidden{
    display: none;
    flex-shrink: 0;
}

.graphCarouselSlideContainer {
    position: relative;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    object-fit: fill;
}

.graphCarouselSlideContainer.hidden{
    display: none;
    flex-shrink: 0;
}

.carouselButton {
    position: relative;
    display: flex;
    z-index: 300;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    justify-content: center;
    align-items: center;
}

.carouselButton:disabled{
    visibility: hidden;
}

.carouselImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    padding: 0;
    object-fit: fill;
}

.carouselSlide {
    position: absolute;
    width: 80%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 0;
}

.carouselSlide.active {
    opacity: 1;
}

.carouselImageContainer img {
    width: 80%;
    height: 100%;
    object-fit: contain;
    padding:0;
}

.thumbnailIndicators {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

.thumbnailIndicator {
    margin: 0 0.5rem;
}

.thumbnailIndicator button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.thumbnailImageContainer {
    position: relative;
    width: 50px;
    height: 50px;
}

.thumbnailImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnailIndicator.active img {
    opacity: 0.9;
}

.thumbnailIndicator img {
    opacity: 0.3;
}

.pagination { 
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 2rem;
}

.pageButton{ 
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    justify-content: flex-end;
}

.nextPage{
    display: flex;
    text-align: right;
}

.pageButton:hover {
    color: pink;
}
