
.mainContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding-bottom: 1rem;
    color: var(--primary-color);
    position: relative;
    align-items: center;
    width: 100%;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.title {
    position: relative;
    margin: 0.5rem; 
    font-size: 3rem;
    white-space: pre-line;
    text-align: justify;
    line-height: 1; 
}

.content { 
    position: relative;
    margin: 1rem;
    color: var(--darkGreen);
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content > p { 
    position: relative; 
    margin-left: 1rem;
    font-size: 1rem; 
    margin-bottom: 1rem;
}

.content > figure {
    display: flex;
    flex-direction: column;
    position: relative;
}
.content > p > a {
    color: var(--secondary-color);
}

.content > h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85vh;
}

.carouselSingle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.carouselSlideContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.carouselSlideContainer.hidden{
    display: none;
    flex-shrink: 0;
}

.carouselButton {
    position: relative;
    display: flex;
    z-index: 300;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    justify-content: center;
    align-items: center;
}

.carouselButton:disabled{
    visibility: hidden;
}

.carouselImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    padding: 0;
    object-fit: fill;
}

.carouselSlide {
    position: absolute;
    width: 80%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 0;
}

.carouselSlide.active {
    opacity: 1;
}

.carouselImageContainer img {
    width: 80%;
    height: 100%;
    object-fit: contain;
    padding:0;
}

.thumbnailIndicators {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

.thumbnailIndicator {
    margin: 0 0.5rem;
}

.thumbnailIndicator button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.thumbnailImageContainer {
    position: relative;
    width: 50px;
    height: 50px;
}

.thumbnailImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnailIndicator.active img {
    opacity: 0.9;
}

.thumbnailIndicator img {
    opacity: 0.3;
}

@media (max-width:786px){
    .content{
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .carousel{
        height: 55vh;
    }
}

.pagination { 
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 2rem;
    width: 100%;
}

.pageButton{ 
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    justify-content: flex-end;
    color: var(--secondary-color);
}

.prevPage{
    left: 1rem;
}

.nextPage{
    display: flex;
    text-align: right;
    right: 1rem;
}



.pageButton:hover {
    color: var(--primary-color);
}

.footer{
    background-color:var(--background-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding: 10px;
}

.footer>p{
    padding-right: 5px;
}

.footer>a:hover{
    color:var(--primary-color);
}