.fig {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5rem;
    border: 1px dotted var(--secondary-color);
    border-radius: 1em;
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    justify-content: center;
}

.caption {
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.fig>img {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    /* margin-top: 1rem; */
}

@media (min-width: 768px) {
    .fig {
        padding: 1rem 3rem 1rem 3rem;
    }
}